@model IEnumerable<ProjetoDIO.Models.Tarefa>

    @{
        ViewData["Title"] = " Criador de Tarefa";
    }


<table class="table" id="tabelaDeTarefas">

  <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th>

            
        </th>
    </tr>
 </thead>

     <tbody>

        @foreach (var item in Model)
        {
         <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Data)
                </td>
                 <td>
                    @Html.DisplayFor(model => item.Status)
                </td>

                <td>
                    <a asp-action="EditarTarefa" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="DetalhesTarefa" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="DeletarTarefa" asp-route-id="@item.Id">Deletar</a>

                </td>

               

            </tr>

        }
     </tbody>



</table>